In [2]:
import os
import sys
nb_dir = os.path.split(os.getcwd())[0]
if nb_dir not in sys.path:
    sys.path.append(nb_dir)

import pandas as pd
import util.utilities as util
from collections import Counter

In [3]:
df_sms_extraction = util.load_dataset(my_path='../../dataset/Extraction_form_basic.xlsx')
df_sms_extraction = util.add_column_sp(df_sms_extraction)


# Q7 - Research type

## Papers grouped by Research Type

dict_q7 = {}
for item in zip( list(df_sms_extraction['Paper Id']), list(df_sms_extraction['Q7 Research Type (Evaluation Research, Validation Research, Solution Proposal, Philosophycal paper, Other)']) ):
    id = item[0]
    if (item[1] != ''):
        q7 = str(item[1])
        q7 = ' '.join(q7.split())
        dict_q7[id] = q7.lower()

pd.set_option('display.max_colwidth', -1)        

df_distribution_q7 = util.view_question_distribution(my_dict=dict_q7, my_list=['Research Type', 'No', 'Not applicable'], my_question='q7')
df_distribution_q7['sp'] = None

df_distribution_q7 = util.view_question_distribution_update_sp(my_df_distribution=df_distribution_q7, my_df_data=df_sms_extraction, my_feature='Q7 Research Type (Evaluation Research, Validation Research, Solution Proposal, Philosophycal paper, Other)')

util.create_latex_table(my_df=df_distribution_q7, my_path='../../latex', my_file_name='mytable_q7_distribution.tex')

df_distribution_q7

Arquivo ../../latex/mytable_q7_distribution.tex  gerado com sucesso!
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

,q7,count,sp
0,Research Type,57,"[SP1, SP2, SP3, SP4, SP5, SP6, SP7, SP8, SP9, SP10, SP11, SP12, SP13, SP14, SP15, SP16, SP17, SP18, SP19, SP20, SP21, SP22, SP23, SP24, SP25, SP26, SP27, SP28, SP29, SP30, SP31, SP32, SP33, SP34, SP35, SP36, SP37, SP38, SP39, SP40, SP41, SP42, SP43, SP44, SP45, SP46, SP47, SP48, SP49, SP50, SP51, SP52, SP53, SP54, SP55, SP56, SP57]"
1,No,0,[]
2,Not applicable,0,[]

In [4]:
list_of_q7 = []
for item in list(df_sms_extraction['Q7 Research Type (Evaluation Research, Validation Research, Solution Proposal, Philosophycal paper, Other)']): 
    item = str(item)
    item = ' '.join(item.split())
    list_of_q7.append(item)
list_of_q7.sort()

list_of_most_common_q7 = Counter(list_of_q7).most_common()
list_of_most_common_q7

[('Validation Research', 22),
 ('Evaluation research', 21),
 ('Solution proposal', 10),
 ('Philosophycal paper', 4)]

In [7]:
## Papers grouped by Kind of Research Type

rs = []
count_rs = []
for each in list_of_most_common_q7: 
    rs.append(each[0])
    count_rs.append(each[1])
my_rs = {'research': rs, 'count':count_rs}
my_rs

my_rs_id = list(range(1,len(list_of_most_common_q7)+1))
my_rs_id

df_my_rs = pd.DataFrame(data=my_rs, index=my_rs_id)
df_my_rs.reset_index(drop=True, inplace=True)
df_my_rs

df_my_rs['sp'] = None

# Add new column with Selected Papers according grouped Venue
i = 0
for each in df_my_rs['research']:
    list_sp_novo = []
    j = 0
    for item in df_sms_extraction['Q7 Research Type (Evaluation Research, Validation Research, Solution Proposal, Philosophycal paper, Other)']:
        if str(each).lower() == str(item).lower(): 
            list_sp_novo.append(df_sms_extraction['sp'].iloc[j])
        j = j + 1
    df_my_rs['sp'].iloc[i] = list_sp_novo
    i = i + 1

df_distribution_detailed_q7 = df_my_rs
util.create_latex_table(my_df=df_distribution_detailed_q7, my_path='../../latex', my_file_name='mytable_q7_distribution_detailed.tex')
util.create_markdown_table(my_df=df_distribution_detailed_q7, my_path='../../md', my_file_name='mytable_q7_distribution_detailed.md')
df_distribution_detailed_q7

Arquivo ../../latex/mytable_q7_distribution_detailed.tex  gerado com sucesso!
Arquivo ../../md/mytable_q7_distribution_detailed.md  gerado com sucesso!

,research,count,sp
0,Validation Research,22,"[SP3, SP6, SP7, SP9, SP13, SP18, SP21, SP24, SP28, SP29, SP30, SP32, SP35, SP37, SP43, SP44, SP48, SP49, SP53, SP56, SP57]"
1,Evaluation research,21,"[SP1, SP2, SP4, SP5, SP8, SP12, SP14, SP15, SP16, SP17, SP19, SP20, SP22, SP25, SP27, SP33, SP34, SP36, SP40, SP42, SP46]"
2,Solution proposal,10,"[SP10, SP11, SP23, SP31, SP39, SP41, SP51, SP52, SP54, SP55]"
3,Philosophycal paper,4,"[SP26, SP45, SP47, SP50]"

In [8]:
for each in df_distribution_detailed_q7.values:
    print(each[0], each[1], round(each[1]/57, 3))

Validation Research 22 0.386
Evaluation research 21 0.368
Solution proposal 10 0.175
Philosophycal paper 4 0.07